<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="/admin/registro/registroenergia/add/">Registrar</a></p>
    <table>
        <thead>
            <tr>
                <th>fecha de registro</th>
                <th>Consumido</th>
                <th>Generado</th>
            </tr>
        </thead>
        <tbody>
            {% for energia in registros_energia %}
            <tr>
                <td>{{ energia.created_at|date:"Ymd-His" }}</td>
                <td>{{ energia.consumo_kwatts }}</td>
                <td>{{ energia.generado_kwatts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
